.Quotemachine {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: rgb(243, 216, 141);
  border-radius: 4px;
  width: 50%;
  height: 300px;
  margin: 32px auto;
  box-shadow: 0 3px 6px 2px rgba(0,0,0,.2);
  padding: 32px;
  align-items: center;
}

#text {
  font-size: 1.75em;
}

#author {
  font-size: 1.5em;
  align-self: flex-start;
  margin-left: 65%;
}

#text::before,
#text::after {
  content: "\"";
  font-size: 1.2em;
}

#author::before {
  content: "\- ";
}

#new-quote, #tweet-quote {
  display:inline-block;
  height: 50px;
  border-radius: 2px;
  border-style: none;
}

#new-quote {
  padding: 8px 16px;
  margin-right: 16px;
  font-weight: 600;
  transition: background-color .2s ease-in-out;
  cursor: pointer;
}

#new-quote:hover {
  background-color: rgb(223, 223, 223);
  transition: background-color .2s ease-in-out;
}

#tweet-quote {
  background-color: #1da1f2;
  color: white;
  width: 50px;
  line-height: 50px;
  transition: background-color .2s ease-in-out;
}

#tweet-quote:hover {
  background-color: #69baec;
  transition: background-color .2s ease-in-out;
}